src/main/resources/xmlSchema.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request">
        <xs:element name="stepOne">
            <xs:element name="stepTwo">
                <!--<xs:complexType>-->
                <!--<xs:sequence>-->
                <xs:complexType>
                    <xs:element name="request" type="xs:string"/>
                </xs:complexType>
                <!--</xs:sequence>-->
                <!--</xs:complexType>-->
            </xs:element>
        </xs:element>
        <xs:complexType>
            <xs:element name="message" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>